In [28]:
print("Xarray Loading vix_utils into a jupyter notebook, and plotting some term structures")

Xarray Loading vix_utils into a jupyter notebook, and plotting some term structures

In [29]:
import vix_utils, pandas as pd, logging, asyncio,sys,matplotlib.pyplot as plt, scipy.stats as bc

In [30]:
#in Jupyter, use the vix_utils asynchronous functions to the load the data
#here we read the futures and cash term structure

vix_futures,vix_cash=await asyncio.gather(vix_utils.async_load_vix_term_structure(),vix_utils.async_get_vix_index_histories())

In [31]:
#another way, reading the futures, then the cash structure, in sequence instead of concurrently
vix_futures_skinny_2 = await vix_utils.async_load_vix_term_structure()
vix_cash_2=await vix_utils.async_get_vix_index_histories()

In [32]:
    #manipulate the data to get what we want to display
    vix_cash_wide=vix_utils.pivot_cash_term_structure_on_symbol(vix_cash)
    vix_futures_monthly_skinny=vix_utils.select_monthly_futures(vix_futures)
    vix_futures_wide=vix_utils.pivot_futures_on_monthly_tenor(vix_futures_monthly_skinny)
    #we just want 9 tenors for now
    selected_tenors=list(range(1,10))
    original_vix_futures_wide=pd.DataFrame(vix_futures_wide)
    vix_futures_wide=vix_futures_wide[selected_tenors]
    close=vix_futures_wide.swaplevel(0,1,axis=1)[["Close"]]

WARNING:root:
******************************Duplicates detected for Trade Date and Tenor

In [33]:
vix_cash

     Trade Date  Close Symbol   Open   High    Low
0    2006-03-06  71.73   VVIX    NaN    NaN    NaN
1    2006-03-15  15.71   VVIX    NaN    NaN    NaN
2    2006-03-16  27.94   VVIX    NaN    NaN    NaN
3    2006-03-17  28.60   VVIX    NaN    NaN    NaN
4    2006-03-20  37.93   VVIX    NaN    NaN    NaN
...         ...    ...    ...    ...    ...    ...
3904 2023-07-07  19.31  VIX6M  19.71  19.72  19.03
3905 2023-07-10  19.21  VIX6M  19.41  19.52  19.14
3906 2023-07-11  18.97  VIX6M  19.05  19.16  18.91
3907 2023-07-12  18.26  VIX6M  18.47  18.51  18.17
3908 2023-07-13  18.24  VIX6M  18.16  18.24  17.97

[43995 rows x 6 columns]

In [34]:
close

               Close
Tenor_Monthly    1.0    2.0    3.0    4.0    5.0    6.0    7.0    8.0    9.0
Trade Date
2004-03-26       NaN  20.27  20.20    NaN  20.06    NaN    NaN  20.89    NaN
2004-03-29       NaN  19.77  19.76    NaN  19.76    NaN    NaN  20.97    NaN
2004-03-30       NaN  19.61  19.73    NaN  19.92    NaN    NaN  21.00    NaN
2004-03-31       NaN  19.72  19.90    NaN  20.18    NaN    NaN  21.13    NaN
2004-04-01       NaN  19.65  19.94    NaN  20.28    NaN    NaN  21.25    NaN
...              ...    ...    ...    ...    ...    ...    ...    ...    ...
2023-07-07     15.86  16.89  17.94  18.57  19.00  19.25  20.35  20.50  20.77
2023-07-10     15.76  16.75  17.75  18.37  18.85  19.10  20.15  20.32  20.60
2023-07-11     15.45  16.55  17.62  18.22  18.60  18.75  19.85  20.10  20.55
2023-07-12     14.31  15.78  17.08  17.77  18.15  18.38  19.47  19.75  20.00
2023-07-13     14.19  15.91  17.12  17.75  18.17  18.42  19.55  19.80  20.09

[4848 rows x 9 columns]

In [35]:
import xarray as xa

In [36]:
vix_futures_monthly_skinny

,Trade Date,Tenor_Monthly,Tenor_Days,Tenor_Trade_Days,Expiry,Open,High,Low,Close,Settle,Change,Total Volume,EFP,Open Interest,Year,MonthOfYear,Futures,File,Expired
0,2004-03-26,2.0,52,37.0,2004-05-18,21.24,21.25,20.27,20.27,20.3200,0.0000,216,0,144,2004,5,K (May 04),2004-05-18.m_5.CFE_VX_K2004.csv,True
1,2004-03-26,2.0,53,38.0,2004-05-19,21.24,21.25,20.27,20.27,20.3200,0.0000,216,0,144,2004,5,K (May 04),2004-05-19.m_5.CFE_VX_K2004.csv,True
2,2004-03-26,3.0,80,55.0,2004-06-15,20.33,20.37,20.10,20.20,20.1600,0.0000,26,0,26,2004,6,M (Jun 04),2004-06-15.m_6.CFE_VX_M2004.csv,True
3,2004-03-26,3.0,81,56.0,2004-06-16,20.33,20.37,20.10,20.20,20.1600,0.0000,26,0,26,2004,6,M (Jun 04),2004-06-16.m_6.CFE_VX_M2004.csv,True
4,2004-03-26,5.0,143,99.0,2004-08-17,20.04,20.13,20.00,20.06,20.1100,0.0000,37,0,37,2004,8,Q (Aug 04),2004-08-17.m_8.CFE_VX_Q2004.csv,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50306,2023-07-13,5.0,125,89.0,2023-11-15,18.15,18.25,17.85,18.17,18.2028,0.0029,5246,0,21060,2023,11,X (Nov 2023),2023-11-15.w_.CFE_VX_2023.csv,False
50381,2023-07-13,6.0,160,114.0,2023-12-20,18.35,18.45,18.12,18.42,18.4500,0.0107,2905,0,18571,2023,12,Z (Dec 2023),2023-12-20.w_.CFE_VX_2023.csv,False
50437,2023-07-13,7.0,188,134.0,2024-01-17,19.45,19.60,19.23,19.55,19.6000,0.0823,2346,0,10410,2024,1,F (Jan 2024),2024-01-17.w_.CFE_VX_2024.csv,False
50473,2023-07-13,8.0,216,154.0,2024-02-14,19.65,19.85,19.50,19.80,19.8500,0.1000,555,0,2588,2024,2,G (Feb 2024),2024-02-14.w_.CFE_VX_2024.csv,False
50486,2023-07-13,9.0,251,179.0,2024-03-20,19.90,20.10,19.82,20.09,20.1250,0.0750,23,0,114,2024,3,H (Mar 2024),2024-03-20.w_.CFE_VX_2024.csv,False

In [37]:
vix_futures_monthly_skinny.columns

Index(['Trade Date', 'Tenor_Monthly', 'Tenor_Days', 'Tenor_Trade_Days',
       'Expiry', 'Open', 'High', 'Low', 'Close', 'Settle', 'Change',
       'Total Volume', 'EFP', 'Open Interest', 'Year', 'MonthOfYear',
       'Futures', 'File', 'Expired'],
      dtype='object')

In [38]:
vix_futures_monthly_skinny.index

Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,     9,
       ...
       50485, 49732, 49945, 50088, 50207, 50306, 50381, 50437, 50473, 50486],
      dtype='int64', length=38577)

In [39]:
vix_futures_monthly_skinny.columns

Index(['Trade Date', 'Tenor_Monthly', 'Tenor_Days', 'Tenor_Trade_Days',
       'Expiry', 'Open', 'High', 'Low', 'Close', 'Settle', 'Change',
       'Total Volume', 'EFP', 'Open Interest', 'Year', 'MonthOfYear',
       'Futures', 'File', 'Expired'],
      dtype='object')

In [40]:
len(vix_futures_monthly_skinny.columns)

19

In [55]:
#we want to index by TradeDate, Tenor_Monthly
df=vix_futures_monthly_skinny.set_index(["Trade Date","Tenor_Monthly"])
df

                          Tenor_Days  Tenor_Trade_Days     Expiry   Open  \
Trade Date Tenor_Monthly
2004-03-26 2.0                    52              37.0 2004-05-18  21.24
           2.0                    53              38.0 2004-05-19  21.24
           3.0                    80              55.0 2004-06-15  20.33
           3.0                    81              56.0 2004-06-16  20.33
           5.0                   143              99.0 2004-08-17  20.04
...                              ...               ...        ...    ...
2023-07-13 5.0                   125              89.0 2023-11-15  18.15
           6.0                   160             114.0 2023-12-20  18.35
           7.0                   188             134.0 2024-01-17  19.45
           8.0                   216             154.0 2024-02-14  19.65
           9.0                   251             179.0 2024-03-20  19.90

                           High    Low  Close   Settle  Change  Total Volume  \
Trade Date Tenor_Monthly
2004-03-26 2.0            21.25  20.27  20.27  20.3200  0.0000           216
           2.0            21.25  20.27  20.27  20.3200  0.0000           216
           3.0            20.37  20.10  20.20  20.1600  0.0000            26
           3.0            20.37  20.10  20.20  20.1600  0.0000            26
           5.0            20.13  20.00  20.06  20.1100  0.0000            37
...                         ...    ...    ...      ...     ...           ...
2023-07-13 5.0            18.25  17.85  18.17  18.2028  0.0029          5246
           6.0            18.45  18.12  18.42  18.4500  0.0107          2905
           7.0            19.60  19.23  19.55  19.6000  0.0823          2346
           8.0            19.85  19.50  19.80  19.8500  0.1000           555
           9.0            20.10  19.82  20.09  20.1250  0.0750            23

                          EFP  Open Interest  Year  MonthOfYear       Futures  \
Trade Date Tenor_Monthly
2004-03-26 2.0              0            144  2004            5    K (May 04)
           2.0              0            144  2004            5    K (May 04)
           3.0              0             26  2004            6    M (Jun 04)
           3.0              0             26  2004            6    M (Jun 04)
           5.0              0             37  2004            8    Q (Aug 04)
...                       ...            ...   ...          ...           ...
2023-07-13 5.0              0          21060  2023           11  X (Nov 2023)
           6.0              0          18571  2023           12  Z (Dec 2023)
           7.0              0          10410  2024            1  F (Jan 2024)
           8.0              0           2588  2024            2  G (Feb 2024)
           9.0              0            114  2024            3  H (Mar 2024)

                                                     File  Expired
Trade Date Tenor_Monthly
2004-03-26 2.0            2004-05-18.m_5.CFE_VX_K2004.csv     True
           2.0            2004-05-19.m_5.CFE_VX_K2004.csv     True
           3.0            2004-06-15.m_6.CFE_VX_M2004.csv     True
           3.0            2004-06-16.m_6.CFE_VX_M2004.csv     True
           5.0            2004-08-17.m_8.CFE_VX_Q2004.csv     True
...                                                   ...      ...
2023-07-13 5.0              2023-11-15.w_.CFE_VX_2023.csv    False
           6.0              2023-12-20.w_.CFE_VX_2023.csv    False
           7.0              2024-01-17.w_.CFE_VX_2024.csv    False
           8.0              2024-02-14.w_.CFE_VX_2024.csv    False
           9.0              2024-03-20.w_.CFE_VX_2024.csv    False

[38577 rows x 17 columns]

In [60]:

df=df.drop_duplicates()
aaa=df.to_xarray()

ValueError: cannot convert a DataFrame with a non-unique MultiIndex into xarray

In [ ]:
#plot futures
close.plot()

In [ ]:
vix_cash_wide.plot()